<section id="about" class="about">
  <div class="container">
    <div class="section-header">
      <h2>About "Us"</h2>
      <p>
        Medcalf Software Solutions is a boutique software development studio
        based in Richmond, VA. Owned and operated by myself, Ben Medcalf.
      </p>
      <br />
      <img class="about-image" src="images/ben.jpeg" />
      <h3>Ben Medcalf</h3>
      <div
        style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"
      >
        <h4>Founder & Principal Engineer</h4>
        <a
          href="https://www.linkedin.com/in/ben-medcalf"
          target="_blank"
          rel="noopener noreferrer"
          class="about-linkedin"
          aria-label="Ben Medcalf on LinkedIn"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="currentColor"
            ><path
              d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433a2.062 2.062 0 01-2.063-2.065 2.064 2.064 0 112.063 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"
            ></path></svg
          >
        </a>
      </div>
    </div>

    <div class="section">
      <p>
        I'm a <a
          href="https://graphacademy.neo4j.com/c/91b415ca-11f5-4b94-b189-853934aab1bf/"
          >Neo4j</a
        >, <a
          href="https://www.credential.net/80132b17-0335-4ff3-9dbf-ae4c714be863#acc.ViRAtDOr"
          >Knowledge Graph</a
        > and <a
          href="https://www.udacity.com/certificate/e/a31aaa38-3d28-11ee-91de-6348d2629c25"
          >React</a
        > certified builder with a decade of designing, engineering and testing production
        software at companies ranging from 10-person startups to Fortune 500s.
      </p>
      <br />
      <p>
        As you might surmise, I'm passionate about all things Graph shaped. You
        can find me on <a href="https://linkedin.com/in/ben-medcalf">LinkedIn</a
        > or
        <a href="https://github.com/manbradcalf">Github</a> writing about or building
        open source software at the intersection of Graph Technology and AI.
      </p>
      <br />
      <p>
        As an independent consultant, I spend a lot of my time deciphering hype
        from reality so my clients don't have to.
      </p>
      <p>
        Thus, MSS operates on a simple principle:
        <b
          >be curious enough to explore what's possible, but grounded enough to
          build what's practical.</b
        >
      </p>
      <br />
      <p>
        In a prior life, I spent 10 years in the ambiguously defined field of
        "Quality Engineering". This experience gave me a unique perspective and
        strongly defines how I approach my work.
      </p>
      <br />
      <p>
        <b>I have never been focused on <i>just</i> shipping software.</b>
        I know first hand that production grade-solutions depend on thoughtful coordination
        with product, design, engineering and and most importantly,
        <i>the end-user</i>.
      </p>
      <br />
      <p>
        With recent advances in AI continuing to blur the lines that have
        historically divided specialized work, I believe this kind of open,
        collaborative mindset is paramount.
        <br />
        <br />
        <p>
          If you want to see how I think about data, <a
            href="www.statfoundry.com">StatFoundry</a
          > is an NFL analytics platform I built on a Neo4j graph database. This is
          my playground for validating new technologies like RAG, GraphRAG, MCP Servers,
          etc.
        </p><br /><p>
          For a closer look at what I'm building and how, check out the <a
            href="/blog">MSS Blog</a
          >.
        </p><br /><p>
          To stay up to date with what I'm following in graph databases and AI,
          there's my LinkedIn newsletter <a
            href="https://www.linkedin.com/newsletters/practical-graph-and-ai-roundup-7401995578622255104/"
            >Practical Graph & AI Roundup</a
          >.
        </p>
      </p>
      <br />
      <p>About Me</p>
      <p>Oh yeah! I almost forgot. I'm a real person too.</p>
      <br />
      <p>
        When not spending time with my wife, son and dog, I can be found playing
        guitar for Young Scum, playing Magic The Gathering (mostly EDH),
        watching the NFL or Premier League (Vikings and Chelsea, repsectively),
        volunteering with the Archaeological Society of Virginia or watching Ken
        Burns documentaries.
      </p>
    </div>
  </div>
</section>
