<section id="partners" class="partners">
  <div class="container">
    <div class="section-header">
      <h2>Partners & Projects</h2>
    </div>

    <h3 class="partners-subheading">Partners & Products</h3>
    <div class="partners-grid">
      <div class="partner-card">
        <img
          class="partner-logo"
          src="/images/segtax-logo.svg"
          alt="Segtax"
          height="37"
        />
        <h4>Segtax</h4>
        <p>AI Powered Cost Segregation</p>
        <div class="partner-links">
          <a
            href="https://seg.tax"
            target="_blank"
            rel="noopener noreferrer"
            class="partner-link">Visit</a
          >
        </div>
      </div>
      <div class="partner-card">
        <img src="/images/sf-logo.png" alt="StatFoundry" height="37" />
        <h4>StatFoundry</h4>
        <p>NFL knowledge graph platform built on a Neo4j graph database.</p>
        <div class="partner-links">
          <a
            href="https://statfoundry.com"
            target="_blank"
            rel="noopener noreferrer"
            class="partner-link">Visit</a
          >
          <p>|</p>
          <a
            href="https://medcalfsoftwaresolutions.com/blog/tags/statfoundry"
            class="partner-link">Dev Blog</a
          >
        </div>
      </div>
    </div>

    <h3 class="partners-subheading">Open Source</h3>
    <div class="partners-grid">
      <div class="partner-card">
        <h4>BIGRFS</h4>
        <p>
          <i>Buildtime Ingestion and Generation, Runtime Filter and Search</i>
          Graph-based recommendation framework for scalable suggestion engines.
        </p>
        <div class="partner-links">
          <a
            href="https://github.com/manbradcalf/bigrfs"
            target="_blank"
            rel="noopener noreferrer"
            class="partner-link"
            >View on GitHub
          </a>
          <p>|</p>
          <a href="/blog/tags/BIGRFS" class="partner-link">Dev Blog</a>
        </div>
      </div>
      <div class="partner-card">
        <h4>GraphLint</h4>
        <p>
          Linting and validation tooling for graph database schemas. Run SHACL
          on your LPGs.
        </p>
        <div class="partner-links">
          <a
            href="https://github.com/manbradcalf/graphlint"
            target="_blank"
            rel="noopener noreferrer"
            class="partner-link">View on GitHub</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
